header{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-color: rgb(255, 102, 0);
    border-bottom: 1px solid black;
}
.secOne{
    display: flex;
    padding-top: 10px; ;
    background-color: rgb(255, 102, 0);
    border-bottom: 1px solid black;
    
}
.step{
    padding-top: 25px;
    background-color: rgb(255, 102, 0);
    display: flex;
    justify-content: space-around;
}
img{
    width: 300px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    padding-top: 25px;
    width: 400px;
}